.mTop {
  display: flex;
  min-height: 100vh;
  color: red;
}

body {background-color: red;}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}


